In [2]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv("data.csv")
df.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,12/1/2010 8:34,7.95,13047.0,United Kingdom

In [4]:
df.isna().any()

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [5]:
df.shape

(541909, 8)

In [6]:
df.dropna(axis=0, subset=["CustomerID"], inplace=True)
df.shape

(406829, 8)

In [7]:
print(df.isna().any())
df.dtypes

InvoiceNo      False
StockCode      False
Description    False
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID     False
Country        False
dtype: bool

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [8]:
df.duplicated().sum()
df.drop_duplicates(inplace = True)
df.shape

(401604, 8)

In [9]:
countries = df[["Country"]].value_counts()
# temp = df.drop("Index",axis=1, inplace=False)
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [10]:
pd.DataFrame([{"products":len(df["StockCode"].value_counts()),
                "transaction":len(df["InvoiceNo"].value_counts()),
                "customer":len(df["CustomerID"].value_counts())}],
                columns = ["products", "transaction", "customer"], index=["quantity"])

          products  transaction  customer
quantity      3684        22190      4372

In [17]:
temp = df.groupby(by= ["CustomerID", "InvoiceNo"],as_index=False)["InvoiceDate"].count()
nb_products_per_basket = temp.rename(columns={"InvoiceDate" : "Number of Products"})
nb_products_per_basket[:30].sort_values("CustomerID")

    CustomerID InvoiceNo  Number of Products
0      12346.0    541431                   1
1      12346.0   C541433                   1
2      12347.0    537626                  31
3      12347.0    542237                  29
4      12347.0    549222                  24
5      12347.0    556201                  18
6      12347.0    562032                  22
7      12347.0    573511                  47
8      12347.0    581180                  11
9      12348.0    539318                  17
10     12348.0    541998                   6
11     12348.0    548955                   5
12     12348.0    568172                   3
13     12349.0    577609                  73
14     12350.0    543037                  17
15     12352.0    544156                  15
16     12352.0    545323                   5
17     12352.0    545332                   3
18     12352.0    546869                   7
19     12352.0    547390                   8
20     12352.0    567505                  18
21     12352.0    568699                  14
22     12352.0    574275                  15
23     12352.0   C545329                   2
24     12352.0   C545330                   1
25     12352.0   C547388                   7
26     12353.0    553900                   4
27     12354.0    550911                  58
28     12355.0    552449                  13
29     12356.0    541430                  36

In [23]:
nb_products_per_basket["order_canceled"] = nb_products_per_basket["InvoiceNo"].apply(lambda x : int("C" in x))
n1 = nb_products_per_basket["order_canceled"].sum()
n2 = nb_products_per_basket.shape[0]
print(f"Number of orders canceled: {(n1/n2)*100}")
nb_products_per_basket[:5]

Number of orders canceled: 16.466876971608833

   CustomerID InvoiceNo  Number of Products  order_canceled
0     12346.0    541431                   1               0
1     12346.0   C541433                   1               1
2     12347.0    537626                  31               0
3     12347.0    542237                  29               0
4     12347.0    549222                  24               0

In [40]:
df.sort_values("CustomerID")[:20]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,1/18/2011 10:01,1.04,12346.0,United Kingdom
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,1/18/2011 10:17,1.04,12346.0,United Kingdom
286628,562032,21578,WOODLAND DESIGN COTTON TOTE BAG,6,8/2/2011 8:48,2.25,12347.0,Iceland
72263,542237,47559B,TEA TIME OVEN GLOVE,10,1/26/2011 14:30,1.25,12347.0,Iceland
72264,542237,21154,RED RETROSPOT OVEN GLOVE,10,1/26/2011 14:30,1.25,12347.0,Iceland
72265,542237,21041,RED RETROSPOT OVEN GLOVE DOUBLE,6,1/26/2011 14:30,2.95,12347.0,Iceland
72266,542237,21035,SET/2 RED RETROSPOT TEA TOWELS,6,1/26/2011 14:30,2.95,12347.0,Iceland
72267,542237,22423,REGENCY CAKESTAND 3 TIER,3,1/26/2011 14:30,12.75,12347.0,Iceland
72268,542237,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,1/26/2011 14:30,4.25,12347.0,Iceland
72269,542237,22134,MINI LADLE LOVE HEART RED,12,1/26/2011 14:30,0.42,12347.0,Iceland
72270,542237,21832,CHOCOLATE CALCULATOR,12,1/26/2011 14:30,1.65,12347.0,Iceland
286624,562032,22374,AIRLINE BAG VINTAGE JET SET RED,4,8/2/2011 8:48,4.25,12347.0,Iceland
428957,573511,23480,MINI LIGHTS WOODLAND MUSHROOMS,12,10/31/2011 12:25,3.75,12347.0,Iceland
428958,573511,21265,PINK GOOSE FEATHER TREE 60CM,12,10/31/2011 12:25,1.95,12347.0,Iceland
428959,573511,21636,MADRAS NOTEBOOK MEDIUM,12,10/31/2011 12:25,0.75,12347.0,Iceland
428960,573511,22372,AIRLINE BAG VINTAGE WORLD CHAMPION,4,10/31/2011 12:25,4.25,12347.0,Iceland
428961,573511,22375,AIRLINE BAG VINTAGE JET SET BROWN,8,10/31/2011 12:25,4.25,12347.0,Iceland
428962,573511,22371,AIRLINE BAG VINTAGE TOKYO 78,12,10/31/2011 12:25,3.95,12347.0,Iceland
428963,573511,22374,AIRLINE BAG VINTAGE JET SET RED,8,10/31/2011 12:25,4.25,12347.0,Iceland
428964,573511,22252,BIRDCAGE DECORATION TEALIGHT HOLDER,12,10/31/2011 12:25,1.25,12347.0,Iceland

In [48]:
df_check = df[df["Quantity"] < 0][["CustomerID", "Quantity","StockCode", "Description", "UnitPrice"]]
df_check.head(20)

,CustomerID,Quantity,StockCode,Description,UnitPrice
141,14527.0,-1,D,Discount,27.50
154,15311.0,-1,35004C,SET OF 3 COLOURED FLYING DUCKS,4.65
235,17548.0,-12,22556,PLASTERS IN TIN CIRCUS PARADE,1.65
236,17548.0,-24,21984,PACK OF 12 PINK PAISLEY TISSUES,0.29
237,17548.0,-24,21983,PACK OF 12 BLUE PAISLEY TISSUES,0.29
238,17548.0,-24,21980,PACK OF 12 RED RETROSPOT TISSUES,0.29
239,17548.0,-12,21484,CHICK GREY HOT WATER BOTTLE,3.45
240,17548.0,-12,22557,PLASTERS IN TIN VINTAGE PAISLEY,1.65
241,17548.0,-24,22553,PLASTERS IN TIN SKULLS,1.65
939,17897.0,-6,22960,JAM MAKING SET WITH JARS,4.25
1441,17841.0,-1,22632,HAND WARMER RED RETROSPOT,2.10
1442,17841.0,-2,22355,CHARLOTTE BAG SUKI DESIGN,0.85
1973,12472.0,-4,22244,3 HOOK HANGER MAGIC GARDEN,1.95
1974,12472.0,-5,22242,5 HOOK HANGER MAGIC TOADSTOOL,1.65
1975,12472.0,-1,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,2.95
1976,12472.0,-7,22892,SET OF SALT AND PEPPER TOADSTOOLS,1.25
1977,12472.0,-1,22654,DELUXE SEWING KIT,5.95
1978,12472.0,-2,22767,TRIPLE PHOTO FRAME CORNICE,9.95
1979,12472.0,-1,22333,RETROSPOT PARTY BAG + STICKER SET,1.65
1980,12472.0,-2,22245,"HOOK, 1 HANGER ,MAGIC GARDEN",0.85

In [38]:
for index, col in df_check.iterrows():
    if df[(df["CustomerID"] == col[0]) & (df["Quantity"] == -col[1]) & (df["Description"]== col[2])].shape[0] == 0:
        print(df.loc[index])
        print("not fullfiled")
        break

InvoiceNo             C536379
StockCode                   D
Description          Discount
Quantity                   -1
InvoiceDate    12/1/2010 9:41
UnitPrice                27.5
CustomerID            14527.0
Country        United Kingdom
Name: 141, dtype: object
not fullfiled

In [50]:
df_check = df[(df["Quantity"] < 0) & (df["Description"] != "Discount")][["CustomerID", "Quantity","StockCode", "Description", "UnitPrice"]]
df_check[:10]

,CustomerID,Quantity,StockCode,Description,UnitPrice
154,15311.0,-1,35004C,SET OF 3 COLOURED FLYING DUCKS,4.65
235,17548.0,-12,22556,PLASTERS IN TIN CIRCUS PARADE,1.65
236,17548.0,-24,21984,PACK OF 12 PINK PAISLEY TISSUES,0.29
237,17548.0,-24,21983,PACK OF 12 BLUE PAISLEY TISSUES,0.29
238,17548.0,-24,21980,PACK OF 12 RED RETROSPOT TISSUES,0.29
239,17548.0,-12,21484,CHICK GREY HOT WATER BOTTLE,3.45
240,17548.0,-12,22557,PLASTERS IN TIN VINTAGE PAISLEY,1.65
241,17548.0,-24,22553,PLASTERS IN TIN SKULLS,1.65
939,17897.0,-6,22960,JAM MAKING SET WITH JARS,4.25
1441,17841.0,-1,22632,HAND WARMER RED RETROSPOT,2.10

In [51]:
for index, col in df_check.iterrows():
    if df[(df["CustomerID"] == col[0]) & (df["Quantity"] == -col[1]) & (df["Description"]== col[2])].shape[0] == 0:
        print(df.loc[index])
        print("not fullfiled")
        break

InvoiceNo                              C536383
StockCode                               35004C
Description    SET OF 3 COLOURED  FLYING DUCKS
Quantity                                    -1
InvoiceDate                     12/1/2010 9:49
UnitPrice                                 4.65
CustomerID                             15311.0
Country                         United Kingdom
Name: 154, dtype: object
not fullfiled